{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1 style="text-align:center;">{{ _('Welcome Back to Community!    समुदाय में आपका स्वागत है!') }}</h1>
<div class="row">
<div class="col-md-4 col-lg-offset-4">
    {{ wtf.quick_form(form) }}
    
</div>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

</div>
<br>
<p style="text-align: center;">{{ _('New User?   नया उपयोगकर्ता?') }} <a href="{{ url_for('auth.register') }}">{{ _('Join Dva Patri Community Now!  Dva Patri समुदाय से जुड़ें
  अब! ') }}</a></p>

<p color="red"> Note:</p>You will have to make a new account for community.
    <br> <br>
<p color="red">नोट:</p> आपको समुदाय के लिए एक नया खाता बनाना होगा।<br> <br>

Also, Pls click three dots above and select dekstop view
<br> <br> <br>

इसके अलावा, Pls ऊपर तीन डॉट्स पर क्लिक करें और डेस्कटॉप दृश्य चुनें
{% endblock %}
